
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript: void(0);">Ng2PowerTable - Documentation</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-plug fa-fw"></i> Getting Started</a>
                        </li>
                        <li>
                            <a routerLink="/sorting" routerLinkActive="active"><i class="fa fa-sort fa-fw"></i> Sorting</a>
                        </li>
                        <li>
                            <a routerLink="/paging" routerLinkActive="active"><i class="fa fa-file-text-o fa-fw"></i> Paging</a>
                        </li>
                        <li>
                            <a routerLink="/customize"><i class="fa fa-gear fa-fw"></i> Configuration</a>
                        </li>
                        <li>
                            <a routerLink="/server"><i class="fa fa-cloud fa-fw"></i> Server Side Paging</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
