<div class="row">
    <div class="col-sm-12">
        <h2 class="page-header">Sorting</h2>

        <h3>1. Add <code>ptSort</code> attribute to table headers</h3>
        <span>The <code>ptSort</code> directive depends on <code>ptTable</code> main directive. The attribute value of <code>ptSort</code> is used to determine which property should be sorted.</span>

        <tabset>
            <tab heading="Display">
                <div style="padding: 15px;">
                    <sorting-example></sorting-example>
                </div>
            </tab>

            <tab heading="Html">
                <code-example content-url="app/Sorting/SortingExample.component.html" lang="lang-html"></code-example>
            </tab>

            <tab heading="Typescript">
                <code-example content-url="app/Sorting/SortingExample.component.ts" lang="lang-ts"></code-example>
            </tab>
        </tabset>
    </div>
</div>